{% extends 'base.html' %}

{% block head_title %}
    Home
{% endblock head_title %}

{% block content %}
<div class="row text-center m-2">
    <div class="col">
        <h1>Home page</h1>
    </div>
</div>

<div class="row m-3">
    <div class="col-md-4 mx-auto col-10">
        <form method="POST" action="/posts/create" class="form" id="post-create-form">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="post-create-error"></div>
            <input type="hidden" value="/" name="next">
            <textarea required="required" class="form-control" name="content" placeholder="Your post here..."></textarea>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
</div>

<div class="row" id="posts">
    Loading...
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function loadPosts(postElem) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/posts'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function () {
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var finalPostsStr = ''
            var i;
            for (i=0; i<listedItems.length; i++) {
                var postObj = listedItems[i]
                var currentItem = formatPostElement(postObj)
                finalPostsStr += currentItem
            }
            postElem.innerHTML = finalPostsStr
        }
        xhr.send()
    }

    function handlePostActionBtn(post_id, currentCount, action) {
        const postsContainerElement = document.getElementById('posts')
        const url = 'api/posts/action'
        const method = 'POST'
        const data = JSON.stringify({
            post_id: post_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            loadPosts(postsContainerElement)
        }
        xhr.send(data)
    }

    function handlePostCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function () {
            if (xhr.status === 201) {
                handlePostFormError('', false)
                const newPost = xhr.response
                const newPostElement = formatPostElement(newPost)
                const ogHtml = postsContainerElement.innerHTML
                postsContainerElement.innerHTML = newPostElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMessage
                if (contentError) {
                    contentErrorMessage = contentError[0]
                    if (contentErrorMessage) {
                        handlePostFormError(contentErrorMessage, true)
                    }
                } else {
                    alert('error')
                }
            } else if (xhr.status === 403) {
                alert('not authorized')
                window.location.href = '/login'
            } else if (xhr.status === 500) {
                alert('server error')
            }
        }
        xhr.onerror = function() {
            alert('error!')
        }
        xhr.send(myFormData)
    }

    function handlePostFormError(msg, display) {
        var myErrorDiv = document.getElementById('post-create-error')
        if (display === true) {
            // show error
            myErrorDiv.innerText = msg
            myErrorDiv.setAttribute('class', 'd-block alert alert-danger')
        } else {
            // hide error
            myErrorDiv.setAttribute('class', 'd-none alert alert-danger')
        }
    }

    function LikeBtn(post) {
        return "<button class='btn btn-primary' onclick=handlePostActionBtn(" + post.id + "," + post.likes + ",'like')>" + post.likes + " Like</button>"
    }

    function UnLikeBtn(post) {
        return "<button class='btn btn-outline-danger' onclick=handlePostActionBtn(" + post.id + "," + post.likes + ",'unlike')>Unlike</button>"
    }

    function RePostBtn(post) {
        return "<button class='btn btn-outline-success' onclick=handlePostActionBtn(" + post.id + "," + post.likes + ",'repost')>Share</button>"
    }

    function formatPostElement(post) {
        var formattedPost = '<div class="col-10 mx-auto py-3 mb-4 post" id="post-' + post.id + '"><p>'
        + post.content + '</p><div class="btn-group">'+
            LikeBtn(post) +
            UnLikeBtn(post) +
            RePostBtn(post) +
        '</p></div></div>'
        return formattedPost
    }

    const postCreateFormElement = document.getElementById('post-create-form')
    const postsContainerElement = document.getElementById('posts')

    loadPosts(postsContainerElement)
    postCreateFormElement.addEventListener('submit', handlePostCreateFormDidSubmit)
</script>
{% endblock content %}