.App {
  text-align: center;
  display: grid;
  grid-template-areas:
          "header header header"
          "nav content sidebar"
          "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 0px;
  height: 100vh;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
  background-color: #bf7c8e;
}
#mainContent {
  grid-area: content;
  background-color: #ededed;
}
#mainNav {
  grid-area: nav;
  background-color: #4fb3a9;
}
#sidebar {
  grid-area: sidebar;
  background-color: #79b5e0;
}